body {
    font-family: "Courier New";
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FCFAF9;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 25px;
    color: #FFADC6;

}

input[type=text],
input[type=password],
input[type=email] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    color: #5E5E5E;
    background-color:#E6E4E3;
}

textarea {
  background-color:#E6E4E3;
  width: 500px;
  color: #5E5E5E;
  height: 400px;
  font-size: 17px;
}

input[type=submit] {
  background-color:#E6E4E3;
  color: #5E5E5E;
  font-size: 24px;
  font-family: "Courier New";
  border-radius: 12px;
}

input[type=submit]:hover {
  background-color: #FFADC6;
  color: white;
}

hr {
    margin: 20px auto;
}

h1 {
  display: block;
  color: #48E5C2;
  font-size: 40px;
  text-align: left;;
  margin-bottom: 30px;
}

/*h2 {
  font-weight: bold;
  font-size: 24px;
  color: #FFADC6;
  text-decoration: none;
  border-bottom: 4px double #FFADC6;
  }*/

.post + .post {
    margin-top: 20px;
}

.post-title {
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    color: #FFADC6;
    border-bottom: 4px double #FFADC6;
}

.post-body {
  margin-top: 5px;
  font-size: 20px;
  font-style: italic;
  color:#5E5E5E ;
}

.body {
  margin-top: 5px;
  font-size: 18px;
  font-style: italic;
  color:#5E5E5E ;
}

.author {
  font-style: italic;
  font-size: 14px;
  color:#5E5E5E;
}

.post-author {
    font-style: italic;
    font-size: 12px;
    color:#5E5E5E;
}

.users {
  font-family: "Courier New";
  text-decoration: none;
  font-size: 20px;
  color:#5E5E5E;
}

.login-logout {
  font-family: "Courier New";
  font-weight: bold;
  text-decoration: underline;;
  font-size: 20px;
  color:#5E5E5E;
}

.links {
  font-family: "Courier New";
  font-weight: bold;
  text-decoration: underline;;
  font-size: 20px;
  color:#5E5E5E;
}

nav ul {
    padding: 0;
    display: inline-block;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

/*nav #user-account {
    float: right;
}*/
