<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <nav>
          <ul >
              <li><a href="/login" class= "login-logout">Login</a></li>
              <li><a href="/logout" class= "login-logout">Logout</a></li>
          </ul>
      </nav>

      <hr></hr>

      <nav>
        <ul>
            <li><a href="/" class= "links">Home</a></li>
            <li><a href="/blog" class= "links">All Posts</a></li>
            <li><a href="/blog/newpost" class= "links">New Post</a></li>
        </ul>
      </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>
